
{% extends "ProyectoWebApp/base.html" %}
   
{% load static %}

{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<!------ Include the above in your HEAD tag ---------->
<div class="container">
	<br>  <p class="text-center"> POR FAVOR INGRESE SUS DATOS PARA EL REGISTRO <a href="http://bootstrap-ecommerce.com/"> </a></p>
	<hr>


	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center"> Creacion de nueva Cuenta</h4>

			<form method="POST"> 

				{% csrf_token %}

				<!--	{{form.as_p}}  --->

				<div class="form-group input-group">
					<p><b><h5>Login : &nbsp; </h5></b></p>				
				</div> 
				
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					{{form.login_usuario}} 
						<!-- <input name="" class="form-control" placeholder="Nombre de Usuario" type="text">--->
				</div> 
				<!-- form-group end.// -->
				
				<div class="form-group input-group">
					<p><b><h5>Contraseña : &nbsp; </h5></b></p>				
				</div> 
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					{{form.password_usuario}}
						<!--<input class="form-control" placeholder="Escriba Contraseña" type="password">--->
				</div> 
				
				<!-- form-group// -->
				 
				
				<div class="form-group input-group">
					<p><b><h5>Nombres : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					{{form.nombres}}
						<!--<input name="" class="form-control" placeholder="Nombres" type="text">--->
				</div>

				<div class="form-group input-group">
					<p><b><h5>Apellidos : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					{{form.apellidos}}
						<!--<input name="" class="form-control" placeholder="Apellidos" type="text">--->
				</div>
				
				<div class="form-group input-group">
					<p><b><h5>Numero de Celular : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
					{{form.ncelular}}
						
				</div>


				<div class="form-group input-group">
					<p><b><h5>Correo Electronico : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					{{form.email}}
						<!--<input name="" class="form-control" placeholder="Correo Electronico" type="email">--->
				</div>
												

				<div class="form-group input-group">
					<p><b><h5>Logia : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-building"></i> </span>
					</div>
					{{form.logia}}
						
				</div>
				
				<div class="form-group input-group">
					<p><b><h5>Numero de Logia : &nbsp; </h5></b></p>				
				</div> 

				<div class="form-group input-group">
					<p><b><h5>Grado : &nbsp; </h5></b></p>				
				</div> 
				
				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-building"></i> </span>
					</div>
					{{form.grado}}
						
				</div>

				<div class="form-group input-group">
					<p><b><h5>Fecha Grado : &nbsp; </h5></b></p>				
				</div> 
				
				<div class="form-group input-group">
					
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-building"></i> </span>
					</div>
					{{form.fecha_grado}}
						
				</div>

				
				<!-- form-group// -->                                      
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
				</div>      
				<!-- <p class="text-center">Tienes una Cuenta? <a href="">Log In</a> </p>-->                                                                 
			</form>
		</article>
	</div>  

</div> 

<br><br>

{% endblock %}

