{% extends "ProyectoWebApp/base.html" %}
   
{% load static %}

{% block content %}

  <!-- Heading -->
  <div class="container">
    <div class="row g-2">
      <div  class="col-12">
        <div class="p-3 border bg-light" align="center">
          
            <img  src="{% static 'ProyectoWebApp/img/fig0021.jpg'%}" width="900" height="150">
          
        </div>
      </div>
      
      <div class="col-3">
      
       
      </div>
      
      <div class="col-3">
        <div class="p-3 border bg-light">
          <img  src="{% static 'ProyectoWebApp/img/fig050.jpg'%}" width="450" height="400">

        </div>
      </div>

      <div class="col-3">
        
      </div>

    </div>
  </div>

  

  

{% endblock %}
